 {% extends 'basic.html' %} {% block title %}View Room {% endblock title %} {% block body %}
<h3 class="text-success"> รายละเอียด</h3>
<hr>
<div class="container mx-0 ">
    <p><b>เลขห้อง:-</b> {{room.roomnumber}}</p>
    <p><b>ประเภทห้อง:-</b> {{room.get_room_type_display}}</p>
    <p><b>ความจุ:-</b> {{room.capacity}} คน</p>
    <p><b>ไซส์:-</b> {{room.size}} ตารางเมตร</p>
    <p><b>สถานะห้อง:-</b> {{room.get_status_display| capfirst}} </p>
    <p><b>จังหวัด:-</b> {{room.hotel.location| capfirst}} </p>
    <p><b>ประเทศ:-</b> {{room.hotel.country| capfirst}} </p>
</div>


<hr> {% if reservations %}
<h3 class="text-success">รายการจอง:-</h3>
<table class="table">
    <thead>
        <th>ชื่อลูกค้า</th>
        <th>คน</th>
        <th>check in</th>
        <th>check out</th>
    </thead>
    {% for each_detail in reservations %}
    <tr>
        <td>{{each_detail.guest.username}}</td>
        <td>{{each_detail.room.capacity}}</td>
        <td>{{each_detail.check_in}}</td>
        <td>{{each_detail.check_out}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td><b>ยอดจองห้องทั้งหมด = </b>{{reservations | length}}</td>
    </tr>

</table>
{% else %}
<p>ไม่เจอรายละเอียด</p>
{% endif %} {% endblock body %}