{% extends 'basic.html' %}
{% block title %}about
{% endblock title %}
{% block body %}
<h1 class="text-center text-success">About page </h1>
<p class="text-center"> โรงแรม "สุดหรู รีสอร์ทแอนด์สปา" (Luxury Resort & Spa) เปิดให้บริการมาแล้ว 7 ปี และได้ก้าวไปขยายธุรกิจด้วยการเปิดสาขาที่หลายจังหวัดทั่วประเทศไปแล้ว 10 สาขา ซึ่งเป็นที่รู้จักและได้รับความนิยมจากผู้เข้าพักทุกคนที่ต้องการความสบายหรูและบรรยากาศที่ผ่อนคลายในทุกที่ตั้ง</p>

<h2 class="text-center text-success">ห้องพัก</h2>
<p class="text-center">-สำหรับแขกทุกท่านมีห้องพักที่ออกแบบอย่างหรูหราและทันสมัย</p>
<p class="text-center">-หลายประเภทของห้องพัก เช่น ห้องสุดหรู, สวีท, และสำหรับครอบครัว</p>

<h2 class="text-center text-success">อาหารและเครื่องดื่ม</h2>
<p class="text-center">-ร้านอาหารหลายแห่งที่นำเสนออาหารที่อร่อยและหลากหลาย</p>
<p class="text-center">-บาร์และห้องชาลางที่นำเสนอเครื่องดื่มที่หลากหลาย</p>

<h2 class="text-center text-success">สปาและฟิตเนส</h2>
<p class="text-center">-สปาที่มีบริการที่มีมาตรฐานสากล</p>
<p class="text-center">-ฟิตเนสที่ทันสมัย</p>

<h2 class="text-center text-success">บริการรถรับ-ส่ง</h2>
<p class="text-center">-บริการรถรับ-ส่งที่สะดวกสบาย</p>

<h2 class="text-center text-success">บริการที่จอดรถ</h2>
<p class="text-center">-ที่จอดรถที่มีความปลอดภัยและกว้างขวางสำหรับแขกทุกท่าน</p>

<h2 class="text-center text-success">สาขาของโรงแรมที่มีใน 10 จังหวัด</h2>
<p class="text-center">กรุงเทพมหานคร เชียงใหม่ ภูเก็ต กระบี่ หัวหิน ฉะเชิงเทรา เพชรบุรี ระยอง สุราษฎร์ธานี เขาใหญ่</p>
{% endblock body %}